#profileImage{
	width:200px;
	height: 200px;
	border-radius: 50%;
}
body{
	background-image: url("../../img/road_edit.jpg");
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
    background-position: center 50px; 
    
}
@media (max-width:700px){
   body{
   background-image: url("../../img/road2.jpg");
	
	background-repeat: no-repeat;
	
	background-size: cover;
    background-position: center 100; 
   }

}

.jumbotron{
	background-color: linen;
	padding-bottom: 0px;
}

.jumbotron h1,
.jumbotron img{
  display:inline-block;
  vertical-align:middle
}

.jumbotron img{
	width:128px; 
	height:128px;	
}

.jumbotron .title-container{
	text-align: center;
}

.jumbotron .tag-container{
	position:relative; 
	margin:auto; 
	left:0; 
	right:0;
	bottom:10px; 
}
.jumbotron .tag-container p{
	z-index: 1;
	overflow: hidden;
}
.jumbotron p:before {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 5%;
    height: 2px;
    content: '\a0';
    background-color: black;
}
.jumbotron p:after {
	position: absolute;
    top: 51%;
    overflow: hidden;
    width: 15%;
    height: 2px;
    content: '\a0';
    background-color: black;
}
.jumbotron p:before {
    margin-left: -5%;
    text-align: right;
}
@media (max-width:769px){
	.jumbotron p:before {
		margin-left: 0%;
		width: 0%;
	}
	.jumbotron p:after {
		width: 0%;
	}
}
@media (max-width:476px){
	.jumbotron p:before {
		margin-left: -15%;
		width: 15%;
	}
	.jumbotron p:after {
		width: 15%;
	}
}
@media (max-width:400px){
	.jumbotron p:before {
		margin-left: 0%;
		width: 0%;
	}
	.jumbotron p:after {
		width: 0%;
	}
}
@media (min-width:477px){
   .jumbotron .tag-container p{
		margin-left:100px;

		
	}
	.jumbotron .tag-container{
	bottom:35px;
	
	}

}
@media (min-width:769px){

   .jumbotron .tag-container p{
		margin-left:0px;
		font-size: 25px;
		
	}
	.jumbotron .tag-container{
	bottom:25px;
	
	}

}